<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Course Type</title>
</head>
<body>
<h3></h3>
<form action="#" th:action="@{'/'}" method="post">
   <label for="typename">Type name</label>
    <input id="typename" type="text" name="typeName">
    <p/>
    <label for="durationInMonth">Duration in month</label>
    <input id="durationInMonth" type="number" name="durationInMonth">
    <p/>
    <label for="classesPerMonth">Classes per month</label>
    <input id="classesPerMonth" type="number" name="classesPerMonth">
    <p/>
</form>

</body>
</html>